body {
    font-family: sans-serif;
    margin: 300px 350px;
    padding: 0;
}

.square {
    background: #d4d4d4;
    border: 2px solid #ffffff;
    float: left;
    font-size: 60px;
    font-weight: bold;
    height: 80px;
    padding: 0;
    text-align: center;
    width: 80px;
    color: #464646;
    border-radius: 10px;
}

.status {
    margin-bottom: 10px;
    color: #464646;
    font-size: 32px;
}